<div class="about">
  <h1>About app</h1>
  <p>Created by R1MM1, if you found this app useful feel free to leave opinion and thoughts on my steam profile.
  <p>For casual talk about CS:GO investments, feel free to join CSGO MARKET FORUM discord!</p>
  <a href = "https://steamcommunity.com/id/R1MM1/" > <img class="banners" src="../../assets/steamBanner.jpg" alt="steam profile"> </a>
  <br>
  <a href = "https://discord.gg/csgomarket" > <img class="banners" src="../../assets/discordBanner.jpg" alt="steam profile"> </a>
  <p>Disclaimer: All case images belong to Valve Corporation.</p>
</div>
